---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <meta name="theme-color" content="#06203f" />
    <link rel="canonical" href={canonicalURL} />
    <link rel="icon" type="image/png" href="/images/ikai-icon.png" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content="/images/ikai-logo-dark.png" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main><slot /></main>
    <Footer />
  </body>
</html>
